<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoTEC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/nav-side.css" />
</head>
<body>
    <header>


        <nav class="navbar navbar-expand-md navbar-light border-bottom fixed-top" style="background-color: #BFBFBF;">
            <div class="logo-image">
                <img class="img-fluid" src="~/images/logo-tec.png">
            </div>


            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="nav navbar-nav navbar">

                        <li class="nav-tabs">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        
                       
                    </ul>
                </div>
            </div>
        </nav>

        <br />
        <br />
        <br />
        <div class="sidebar-container accordion-group accordion-caret">

            <ul class="sidebar-navigation accordion-heading">
                <li class="active">
                    <a href="#comisionSubMenu" class="header accordion-toggle" aria-expanded="true" data-toggle="collapse">
                        Comisión de Carrera Profesional
                    </a>
                    <ul id="comisionSubMenu">
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="nav-tabs accordion-body collapse in" aria-hidden="true"></i> Datos Personales
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#produccionUniversitariaSubMenu" class="header accordion-toggle" aria-expanded="true" data-toggle="collapse">
                        Producción Universitaria
                    </a>
                    <ul id="produccionUniversitariaSubMenu">
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Libros">
                                <i class="nav-tabs accordion-body collapse in" aria-hidden="true"></i> Libros
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Articulos">
                                <i class="nav-tabs accordion-body collapse in" aria-hidden="true"></i> Artículos
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="DesarrolloSoftware">
                                <i class="nav-tabs accordion-body collapse in" aria-hidden="true"></i> Desarrollo de Software
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="TrabajoGraduacionGalardonado">
                                <i class="nav-tabs accordion-body collapse in" aria-hidden="true"></i> Trabajo de Graduación Galardonado
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="ObraAdministrativa">
                                <i class="nav-tabs accordion-body collapse in" aria-hidden="true"></i> Obra Administrativa de Desarrollo
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
</div>

    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Comision de Carrera Profesional - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
