@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>


<div class="content-container">

    <div class="container-fluid">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Desarrollo de software</h1>
            <br />

            <form>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="inputEmail4">Nombre del software</label>
                        <input type="text" class="form-control" id="inputNombreSoftware" placeholder="Nombre del software">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputState">Número de autores</label>
                        <select id="inputState" class="form-control">
                            <option selected>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>
                </div>
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <table class="table table-bordered table-hover" id="tab_logic">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            #
                                        </th>
                                        <th class="text-center">
                                            Nombre del autor
                                        </th>
                                        <th class="text-center">
                                            Correo electrónico
                                        </th>
                                        <th class="text-center">
                                            Distribución porcentual de autoría
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id='autor0'>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            <input type="text" name='nombre0' placeholder='Nombre del autor' class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" name='mail0' placeholder='Correo electrónico' class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" name='dist0' placeholder='Distribución porcentual' class="form-control" />
                                        </td>
                                    </tr>
                                    <tr id='autor1'></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <p class="text-info">Cargar documento que expone los logros:</p>
                        <input type="file" name="file">
                    </div>
                    <div class="form-group col-md-4">
                        <p class="text-info">Cargar Certificación del Superior Jerárquico:</p>
                        <input type="file" name="file">
                    </div>
                    <div class="form-group col-md-4">
                        <p class="text-info">Cargar Carta de consentimiento de la distribución:</p>
                        <input type="file" name="file">
                    </div>
                </div>
                <button type="submit" class="btn btn-info">Agregar otro software</button>
                <button type="submit" class="btn btn-primary">Aceptar</button>
            </form>

        </div>
    </div>
</div>