@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>



<div class="content-container">

    <div class="container-fluid">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Datos Personales</h1>
            <br />

            <form>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Funcionario(a) Solicitante</label>
                        <input type="text" class="form-control" id="inputFunc" placeholder="Funcionario(a) Solicitante">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Cedula</label>
                        <input type="text" class="form-control" id="inputCed" placeholder="Cedula">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Correo</label>
                        <input type="email" class="form-control" id="inputCed" placeholder="Correo">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Telefono</label>
                        <input type="tel" class="form-control" id="inputCed" placeholder="Telefono">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Departamento o Escuela</label>
                        <input type="text" class="form-control" id="inputCed" placeholder="Dept o Escuela">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Puesto</label>
                        <input type="text" class="form-control" id="inputCed" placeholder="Puesto">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Paso Actual</label>
                        <input type="text" class="form-control" id="inputCed" placeholder="Paso Actual">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Paso Solicitado</label>
                        <input type="text" class="form-control" id="inputCed" placeholder="Paso Solicitado">
                    </div>
                </div>
                
               
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Autorizo a la Comision de Carrera Profesional
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Enviar y Guardar</button>
            </form>

        </div>

    </div>
</div>