@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>



<div class="content-container">

    <div class="container-fluid">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Trabajo de Graduación Galardonado</h1>
            <br />

            <form>
                <div class="form-row">
                    <div class="form-group col-md-10">
                        @*<label for="inputEmail4">Nombre del Proyecto de Graduación Galardonado</label>*@
                        <input type="text" class="form-control" id="inputFunc" placeholder="Nombre del Proyecto de Graduación Galardonado">
                    </div>
                    <div class="form-group col-md-10">
                        @*<label for="inputPassword4">Certificación de la Institución</label>*@
                        <input type="text" class="form-control" id="inputCed" placeholder="Certificación de la Institución">
                    </div>

                </div>

                <p class="text-info">Cargar archivo:</p>
                <div class="form-group mt-3">
                    <input type="file" name="file">
                </div>


                <button type="submit" class="btn btn-info">Agregar otro trabajo</button>
                <button type="submit" class="btn btn-primary">Aceptar</button>
            </form>

        </div>

    </div>
</div>